@model IEnumerable<OBJS.API.Models.Advertises.Advertise>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Startdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Advertisestate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Startdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Advertisestate.AdvertiseStateID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.SubcategoryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Password)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AdvertiseID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AdvertiseID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AdvertiseID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
